# folders
.mixin.out
asm
astralsorcery
backups
crash-reports
downloads
local
logs
mods
saves
mputils
resourcepacks
saves
valkyrielib
XaeroWaypoints
XaeroWorldMap
crafttweaker

#files
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
dropt.log
knownkeys.txt
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json
textures_*

#stuff in folders
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes*
config/jei/bookmarks*
config/jei/world*
config/InvTweaks/InvTweaks.cfg
scripts/.zsrc