# folders
.mixin.out
asm
astralsorcery
backups
crash-reports
downloads
local
logs
mods
saves
mputils
resourcepacks
saves
valkyrielib
XaeroWaypoints
XaeroWorldMap

#files
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
dropt.log
knownkeys.txt
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json
textures_*

#stuff in folders
config/AppliedEnergistics2/items.csv
scripts/.zsrc